
<!--<div class="container bg-2 padded-container text-center">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4">-->
            <!--<h3>What is MyHero?</h3>-->
            <!--<p>MyHero is a very simple sample application developed using a "Cloud Native"-->
            <!--design method to be used for demonstration and education purposes.  It is-->
            <!--composed of several microservices, each leveraging standard API interaction.-->
            <!--The simplest deployment of MyHero consists of just three services, and when-->
            <!--deployed with all features, it can be as many as ten different services.</p>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
            <!--<h3>More Information</h3>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item" href="https://github.com/hpreston/myhero_demo"-->
                   <!--target="_blank">-->
                    <!--GitHub Repository-->
                <!--</a>-->
                <!--<a class="list-group-item" href="http://browndogtech.com/experiments-in-cloud-development/"-->
                   <!--target="_blank">-->
                    <!--Blog Post on Application-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-4" align="center">-->
            <!--<a href="images/myhero-arch-full-v2.png"></a>-->
            <!--<img src="images/myhero-arch-full-v2.png"-->
                 <!--class="img-responsive thumbnail"-->
                 <!--width="200"-->
            <!--&gt;-->
            <!--<button type="button"-->
                    <!--class="btn btn-info btn-sm"-->
                    <!--data-toggle="modal"-->
                    <!--data-target="#myModal">-->
                <!--Open Image-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->


<!--</div>-->
<!-- App Architecture -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">MyHero Application Architecture</h4>
            </div>
            <div class="modal-body" align="center">
                <img src="images/myhero-arch-full-v2.png"
                     class="img-responsive"
                     width="500"
                >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

    <div class="container padded-container">
        <h3>What is MyHero?</h3>
        <p>MyHero is a very simple sample application developed using a "Cloud Native"
            design method to be used for demonstration and education purposes.  It is
            composed of several microservices, each leveraging standard API interaction.
            The simplest deployment of MyHero consists of just three services, and when
            deployed with all features, it can be as many as ten different services.</p>
    </div>
<hr>

<div class="container padded-container" align="center">
    <h3>MyHero Application Architecture</h3>

    <a href="images/myhero-arch-full-v2.png"></a>
    <img src="images/myhero-arch-full-v2.png"
         class="img-responsive thumbnail"
         width="200"
    >
    <button type="button"
            class="btn btn-info btn-sm"
            data-toggle="modal"
            data-target="#myModal">
        Open Image
    </button>
</div>

<hr>

    <div class="container padded-container">
        <h3>More Information</h3>
        <div class="list-group">
            <a class="list-group-item" href="https://github.com/hpreston/myhero_demo"
               target="_blank">
                GitHub Repository
            </a>
            <a class="list-group-item" href="http://browndogtech.com/experiments-in-cloud-development/"
               target="_blank">
                Blog Post
            </a>
        </div>
    </div>

